<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Página principal</title>
    </head>
    <body>
        <h1>Antonio Castro Díaz</h1>
        <h2>Enlaces</h2>
        <h3>Calculadora de potencias</h3>
        <p>Escribe en la URL "/potencia/[base]/[exponente]"</p>
        <a href="/potencia/3/4">Calcular base elevado a exponente</a>
        <h3>Contar apariciones</h3>
        <p>Escribe en la URL "/cuenta/[cadena]/[letra]"</p>
        <a href="/cuentaletras/anchoa/a">Contar las veces que aparece un caracter en una cadena</a>
        <h3>Buscar código</h3>
        <p>Escribe en la URL "/libro/[código]"</p>
	    <a href="/libros/126">Buscar nombre del libro y autor del código que indiques</a>
    </body>
</html>